<template>
    <v-list two-line>
        <template v-for="(item, idx) in value">
            <v-divider v-if="!!idx" inset/>
            <v-list-item :key="item.node.uuid">
            <!-- <v-list-item :key="item.node.uuid"
                         :to="`/idk${item.node.objId}`"
                         :disabled="disabled.indexOf(item.node.uuid) > -1"> -->
                <!-- <v-list-item-avatar>
                    <v-img :src="item.node.avataro.bildoF.url"></v-img>
                </v-list-item-avatar> -->

                <v-list-item-content>
                    <v-list-item-title v-html="item.node.familinomo.enhavo">
                    </v-list-item-title>
                    <!-- <v-list-item-subtitle>
                        Участников: {{ item.node.statistiko.tuta }}
                    </v-list-item-subtitle> -->
                </v-list-item-content>

                <v-list-item-action>
                    <!-- <v-btn v-if="!$auth.loggedIn"
                           @click="$event.preventDefault(); $siriuso.showLoginForm()"
                           color="green lighten-1"
                           dark>
                        <v-icon>
                            mdi-plus
                        </v-icon>
                    </v-btn> -->

                    <!-- <v-btn v-else-if="!item.node.statistiko.mia"
                           @click="kunigu($event, item.node.uuid, item.node.nomo.uuid)"
                           color="green lighten-1"
                           :loading="disabled.indexOf(item.node.uuid) !== -1"
                           dark>
                        <v-icon>
                            mdi-plus
                        </v-icon>
                    </v-btn> -->

                    <!-- <v-btn v-else
                           @click="forlasu($event, item.node.uuid, item.node.nomo.enhavo)"
                           color="blue darken-2"
                           :loading="disabled.indexOf(item.node.uuid) !== -1"
                           dark>
                        <v-icon>
                            mdi-check
                        </v-icon>
                    </v-btn> -->
                </v-list-item-action>
            </v-list-item>
        </template>
        <!-- <template v-for="itemj in value">
            <v-list-item :key="itemj.uzanto.objId"
                         :to="`/batl${itemj.uzanto.objId}`"
                         :disabled="disabled.indexOf(itemj.node.uuid) > -1">
               

                <v-list-item-content>
                    <v-list-item-title v-html="itemj.familinomo.enhavo">
                    </v-list-item-title>
                 </v-list-item-content>

                
            </v-list-item>
        </template> -->
    </v-list>
</template>

<script>
import { kombatantoj_list_query } from './queries';
import { graphQlUrlize } from '~/utils'



export default {
		
	// head () {
    //   return {
    //     title: this.item.familinomo.enhavo
    //   }
    // },

    props: {
      value: {
        type: Array,
        required: true
      }
    },

	// Асинхронное получение данный с сервера (работает и на сервере)
	async asyncData ({ app, params, query, error, props }) {
		return await app.$axios.get(graphQlUrlize({
			query: kombatantoj_list_query,
		
		}))
			.then(response => {
			const resp = response.data.data.kombatantoj;

			if (resp.edges.length) {
				return Promise.resolve({
					item: Object.assign({}, resp.edges[0].node),
					loading: false
				})
			} else {
				error({ status: 404, message: 'Сообщество не найдено' })
			}
		  })
			.catch(e => {
			console.error(e)
			return Promise.reject(e)
			})
	    },
      }

</script>