<template>
    <v-col>
        <v-card class="mx-auto" max-width="800">
            Komento <br>
            комментарий запись на стене
        </v-card>
    </v-col>
    
</template>
<script>
export default {
	data() {
		return {};
	}
};
</script>
