<template>
  <div>
    <div>
      <!-- //:div-text="mystore.tabs[mystore.currentTab].name" -->
      <tab-div
        :div-background="mystore.tabs[mystore.currentTab].backgroundTabColor"
        id="content"
        :style="{ width: calcWidth + 'px', 'margin-left': calcMarginLeft + 'px' }"
      >
        <v-row class="flex-child py-0 my-0" v-for="n in 3" :key="n">
          <v-col
            class="col-padding"
            v-for="tile in tiles"
            :key="tile.id+'A'+n"
            :id="'A'+tile.id+n"
            :cols="tile.xs"
            :xl="tile.xl"
            :lg="tile.lg"
            :md="tile.md"
            :sm="tile.sm"
            :order-xl="tile.orderxl"
            :order-lg="tile.orderlg"
            :order-md="tile.ordermd"
            :order-sm="tile.ordersm"
            :order="tile.orderxs"
            style="padding-right: 0;"
          >
            <siriuso-block :styleComponent="tileStyle" :heightComponent="tile.height">
              <span>{{mystore.tabs[mystore.currentTab].name +' row:'+n + ' col:'+tile.id}}</span>
            </siriuso-block>
          </v-col>
        </v-row>

        <v-row class="flex-child">
          <v-col
            class="py-0 my-0"
            xl="4"
            lg="4"
            md="12"
            sm="12"
            cols="12"
            order-xl="1"
            order-lg="1"
            order-md="2"
            order-sm="2"
            order="2"
          >
            <v-row>
              <v-col cols="6" class="col-padding">
                <siriuso-block :styleComponent="tileStyle" :heightComponent="150">
                  <span>{{mystore.tabs[mystore.currentTab].name +' width:'+ $vuetify.breakpoint.width }}</span>
                </siriuso-block>
              </v-col>
              <v-col cols="6" class="col-padding">
                <siriuso-block :styleComponent="tileStyle" :heightComponent="150">
                  <span>{{mystore.tabs[mystore.currentTab].name +' height:'+ $vuetify.breakpoint.height}}</span>
                </siriuso-block>
              </v-col>

              <v-col cols="12" class="col-padding">
                <siriuso-block :styleComponent="tileStyle" :heightComponent="315">
                  <span>{{mystore.tabs[mystore.currentTab].name +' width:'+ $vuetify.breakpoint.width +' height:'+ $vuetify.breakpoint.height}}</span>
                </siriuso-block>
              </v-col>
            </v-row>
          </v-col>
          <v-col
            class="py-0 my-0"
            xl="4"
            lg="4"
            md="12"
            sm="12"
            cols="12"
            order-xl="2"
            order-lg="2"
            order-md="1"
            order-sm="1"
            order="1"
          >
            <v-row>
              <v-col cols="12" class="col-padding">
                <siriuso-block :styleComponent="tileStyle" :heightComponent="150">
                  <span>{{loremText}}</span>
                </siriuso-block>
              </v-col>
              <v-col cols="12" class="col-padding">
                <siriuso-block :styleComponent="tileStyle" :heightComponent="150">
                  <span>{{loremText}}</span>
                </siriuso-block>
              </v-col>

              <v-col cols="12" class="col-padding">
                <siriuso-block :styleComponent="tileStyle" :heightComponent="150">
                  <span>{{loremText}}</span>
                </siriuso-block>
              </v-col>
            </v-row>
          </v-col>
          <v-col
            class="py-0 my-0"
            xl="4"
            lg="4"
            md="12"
            sm="12"
            cols="12"
            order-xl="3"
            order-lg="3"
            order-md="3"
            order-sm="3"
            order="3"
          >
            <v-row>
              <v-col cols="12" class="col-padding">
                <siriuso-block :styleComponent="tileStyle" :heightComponent="315">
                  <span>{{loremText}}</span>
                </siriuso-block>
              </v-col>
              <v-col cols="12" class="col-padding">
                <siriuso-block :styleComponent="tileStyle" :heightComponent="150">
                  <span>{{loremText}}</span>
                </siriuso-block>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </tab-div>
    </div>
    <!-- <v-img src="/images/image.png"></v-img> -->
  </div>
</template>


<script>
import kmr from "~/pages/kmr";
import tabDiv from "~/components/tabDiv";
import tinycolor from "tinycolor2";
import siriusoBlock from "~/components/siriusoBlock";

export default {
  components: {
    kmr,
    tabDiv,
    siriusoBlock
  },
  data() {
    return {
      // currentTab: 0
      mystore: this.$store.state.tabLogic,
      myapp: document,
      tiles: [
        {
          id: 1,
          text: "(1r x 1c)",
          color: "green lighten-3",
          xl: 2,
          lg: 2,
          md: 4,
          sm: 6,
          xs: 12,
          height: 150,
          orderxl: 12,
          orderlg: 12,
          ordermd: 12,
          ordersm: 12,
          orderxs: 12
        },
        {
          id: 2,
          text: "(1r x 1c)",
          color: "grey lighten-3",
          xl: 2,
          lg: 2,
          md: 4,
          sm: 6,
          xs: 12,
          height: 150,
          orderxl: 12,
          orderlg: 12,
          ordermd: 12,
          ordersm: 12,
          orderxs: 12
        },
        {
          id: 3,
          text: "(1r x 1c)",
          color: "red lighten-3",
          xl: 2,
          lg: 2,
          md: 4,
          sm: 6,
          xs: 12,
          height: 150,
          orderxl: 12,
          orderlg: 12,
          ordermd: 12,
          ordersm: 12,
          orderxs: 12
        },
        {
          id: 4,
          text: "(1r x 1c)",
          color: "yellow lighten-3",
          xl: 2,
          lg: 2,
          md: 4,
          sm: 6,
          xs: 12,
          height: 150,
          orderxl: 12,
          orderlg: 12,
          ordermd: 12,
          ordersm: 12,
          orderxs: 12
        },
        {
          id: 5,
          text: "(1r x 1c)",
          color: "teal lighten-3",
          xl: 2,
          lg: 2,
          md: 4,
          sm: 6,
          xs: 12,
          height: 150,
          orderxl: 12,
          orderlg: 12,
          ordermd: 12,
          ordersm: 12,
          orderxs: 12
        },
        {
          id: 6,
          text: "(1r x 1c)",
          color: "purple lighten-3",
          xl: 2,
          lg: 2,
          md: 4,
          sm: 6,
          xs: 12,
          height: 150,
          orderxl: 12,
          orderlg: 12,
          ordermd: 12,
          ordersm: 12,
          orderxs: 12
        }
      ],

      loremText:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eligendi fuga ducimus reprehenderit illum, sunt aperiam suscipit cum nobis tempore ea adipisci praesentium porro saepe consequuntur sed pariatur vitae quisquam."
    };
  },
  methods: {
    goTo(action) {
      if (typeof action === "string") {
        this.$router.push(action);
      } else if (typeof action === "function") {
        action();
      }
    }
  },
  computed: {
    calcWidth() {
      if (this.$vuetify.breakpoint.width < 1264) {
        return this.$vuetify.breakpoint.width - 4 - this.calcMarginLeft;
      } else {
        return 1216;
      }
    },
    calcMarginLeft() {
      if (
        !this.$store.getters["tabLogic/leftDrawer"](
          this.$vuetify.breakpoint.width
        )
      ) {
        return 0;
      } else {
        return 48;
      }
    },
    tileStyle: function() {
      if (this.$store) {
        let color = this.$store.getters["tabLogic/backgroundColor"];
        let tiny = tinycolor(color);
        let tiny0 = tiny.complement();
        let tiny1 = tiny0.clone();
        let tiny2 = tiny0.clone();
        tiny0.setAlpha(1);
        tiny1.setAlpha(0.7);
        tiny2.setAlpha(0.01);
        return `background: ${tiny
          .setAlpha(1)
          .lighten(80)
          .toRgbString()};   color: ${tiny
          .setAlpha(1)
          .darken(85)
          .toRgbString()};   `;
      }
    }
  },
  beforeDestroy() {
    // this.$root.$off("changeCurrentTab", this.changeCurrentTab);
  },

  mounted() {
    // this.$root.$on("changeCurrentTab", this.changeCurrentTab);
  }
};
</script>
<style scoped>
#content {
  position: relative;
  top: -12px;
  background: rgba(145, 148, 151, 0);
  margin: 0px 0px 0px 48px;
  clip-path: polygon(
    15px 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%,
    0 15px
  );
}
@media screen and (max-width: 600px) {
  .col-padding {
    padding: 5px;
  }
}
@media screen and (min-width: 601px) {
  .col-padding {
    padding-right: 0px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  .col-padding:first-child {
    padding-left: 0;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>